/* the actual cards container is inline-flex and wraps rows */
.all-cards {
    display: grid;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, 450px);
    gap: 40px;

    justify-content: center;
    align-items: flex-start;
}

.char-details{
 
    background-color: #fff;
    color: #5e3163;
    width: 100%;
    border: 4px solid white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px #000;
    text-align: left;

}

.character-name {
font-size: 24pt;
  text-align: center;
  padding: 10px;
  background-color: #8e6593;
  color: #fff;
}

.play-title{
    display: flex;
    align-items: center;

    background-color: #cba7cf;
    padding-left: 20px;

    font-size: 18pt;
    height: 60px;

}

a.play, a.trait{
    color: #5E3163;
}

/* Set category icon to 50px */
.play-title a img, .icon {
    border: 1px solid #5E3163;
    padding: 5px;
    border-radius: 10px;
    width: 50px;
    margin-right: 20px;
    background-color: #cba7cf;
}

.play-title a img:hover, .icon:hover {
    border: 1px solid #000;
    background-color: #FCC272;

}


.play-title a{
    text-decoration: none;
}

.play-title a.play:hover{
    background-color: #5E3163;
    color: #fff;
    font-weight: bold;
    /* padding: 8px; */
}


.icon-row{
    display: flex;
    padding: 10px;
    padding-top: 25px;

    align-content: center;
    justify-content: space-between;

}

/* Set category icon to 50px */
.icon-row a img {
    border: 1px solid #000;
    padding: 15px;
    border-radius: 10px;
    width: 45px;
    background-color: #FCC272;
}

.icon-row a img:hover {
    border: 1px solid #5E3163;
    background-color: #cba7cf;
}

.description {
    padding: 10px;
}

.trait-tags {
    display: flex;
    margin-left: 5px;
    margin-bottom: 5px;
}

.trait-tags a{
    padding: 10px;
    margin-right: 5px;
    background-color: #cba7cf;
    border: 2px solid #5E3163;

    border-radius: 5px;
    text-decoration: none;

    font-size: 105%;
    margin-top: 5px;
}

.trait-tags a:hover{
    background-color: #5E3163;
    color: #fff;
    font-weight: bold;
}

