.container {
  position: relative;
    width: fit-content;
  display: flex;
  margin: 20px;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #cba7cf;
  overflow: hidden;
  width: fit-content;
  height:0;
  transition: .5s ease;
  z-index: 10;
}

.container:hover .overlay {
  bottom: 0;
  height: fit-content;
  width: fit-content;
}

.all-cards{
    display: flex;
    flex-wrap: wrap;
}

.featured-image{
    border-radius: 5px;
    width: 320px;
}

